@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

*{
  margin: 0;
  padding: 0;
}
html,body{
  height:calc(100% - 10px);
}
body{
  background-color: #141414;
  color:#ddd;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  border:10px solid #ddd;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
#main{
  padding:7px;
  position: relative;
  top:20px;
}
#logo{
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 40px;
  max-width: 250px;
  width:100%;
}
h1{
  font-weight: 300;
}
hr{
  max-width: 150px;
  margin: auto;
  border:1px solid grey;
  margin-bottom: 5px;
}
p{
  font-weight: 300;
  letter-spacing: 1px;
  max-width: 500px;
  margin: auto;
  padding-bottom: 30px;
}
@media screen and (min-width: 500px) {
  h1{
    font-size: 3em;
  }
}
#bottom{
  padding-bottom: 15px;
}
.icon{
  border-radius: 100%;
  -webkit-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
.icon:hover{
  cursor: pointer;
}
.twitter:hover{
  background-color: #2196f3;
}
.facebook:hover{
  background-color: #202c71;
}
.instagram:hover{
  background-color: #795548;
}
#icon_middle{
  margin: 0 20px 0 20px;
}
hr{
  border: 0; 
  height: 1px; 
  width: 50%;
  background-image: -webkit-linear-gradient(left, #141414, #ddd, #eee,#ddd, #141414);
  background-image: -moz-linear-gradient(left, transparent, #eee, transparent);
  background-image: -ms-linear-gradient(left, transparent, #eee, transparent);
  background-image: -o-linear-gradient(left, transparent, #eee, transparent); 
}
